@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  background-color: var(--gray-100);
  color: var(--gray-600);
  line-height: 1.5;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

.text-xl {
  font-size: var(--text-xl-size);
  line-height: var(--text-xl-line-height);
  font-weight: var(--text-xl-weight);
}

.text-lg {
  font-size: var(--text-lg-size);
  line-height: var(--text-lg-line-height);
  font-weight: var(--text-lg-weight);
}

.text-md {
  font-size: var(--text-md-size);
  line-height: var(--text-md-line-height);
  font-weight: var(--text-md-weight);
}

.text-sm {
  font-size: var(--text-sm-size);
  line-height: var(--text-sm-line-height);
  font-weight: var(--text-sm-weight);
}

.text-xs {
  font-size: var(--text-xs-size);
  line-height: var(--text-xs-line-height);
  font-weight: var(--text-xs-weight);
  text-transform: var(--text-xs-case);
}
