.container {
  height: 100vh;
  background-color: var(--gray-200);
  padding: var(--spacing-xl);
  overflow: hidden;

  @media (max-width: 998px) {
    padding: var(--spacing-md);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xl);
  height: 100%;
  min-height: 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  align-items: start;
  flex: 1;
  min-height: 0;

  @media (max-width: 998px) {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.logoContainer {
  display: flex;
  justify-content: flex-start;
}

.logoImage {
  height: 24px;
  width: 96px;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: var(--spacing-md);
  flex: 1;
  min-height: 0;

  @media (max-width: 998px) {
    flex-direction: column;
    width: 100%;
  }
}
