.linkCard {
  padding: var(--spacing-md);
  border-top: 1px solid var(--gray-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkInfo {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs);
  justify-content: space-between;
  text-align: left;
}

.linkInfoContent {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.shortUrl {
  color: var(--blue-base);
  font-weight: bold;
  font-size: var(--text-sm-size);
}

.originalUrl {
  color: var(--gray-400);
  font-size: var(--text-xs-size);
  margin-bottom: var(--spacing-xs);
  word-break: break-all;
}

.accessCount {
  color: var(--gray-400);
  font-size: var(--text-xs-size);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-lg);
}

.actions {
  display: flex;
  gap: var(--spacing-xs);
}
